* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: #525252;
  font-family: sans-serif;
  padding: 40px;
}

.row {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: flex-start;
  margin: 0 -30px;
  width: 100%;
}

.row__col {
  flex-basis: 0 1 50%;
  padding: 0 30px;
}
